[alias]
    d = difftool
    lga = log --branches --remotes --tags --graph --decorate --oneline
    lg = log --graph --decorate --oneline
    lgf = log --graph --decorate --oneline --first-parent
    s = status
    ch = checkout
    f = fetch --all --prune --tags
    c = commit
    cne = commit --amend --no-edit
    au = add -u :/
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true
[core]
    editor = sublime_text.exe -n -w
    autocrlf = true
    symlinks = false
    fscache = true
[diff]
    tool = meld
[difftool "bc4"]
    cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[merge]
    tool = meld
[mergetool "bc4"]
    cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true
[push]
    default = upstream
[user]
    email = jchchan91@gmail.com
    name = Jonathan Chan
