[core]
    editor = sublime_text.exe -n -w
    autocrlf = true
[diff]
    tool = meld
[difftool "bc4"]
    cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool "meld"]
    cmd = meld.exe \"$LOCAL\" \"$REMOTE\"
    prompt = false
[merge]
    tool = smerge
[mergetool "meld"]
    cmd = meld.exe \"$LOCAL\" \"$MERGED\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = true
[mergetool "smerge"]
    cmd = \"C:/Program Files/Sublime Merge/smerge.exe\" \"mergetool\" \"$MERGED\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
    trustExitCode = true
[mergetool "bc4"]
    cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\" \"$MERGED\"
    trustExitCode = true
[credential "osg-perf.vsallin.net"]
	authority = azure
